RewriteEngine On
RewriteBase /

# Serve the index.html for all requests (except real files and directories)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
